@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}
.header{
  background-color: rgb(0, 255, 213);
  width: 100%;
  height: 90px;
  line-height: 90px;
  margin-bottom: 50px;
  background: linear-gradient(-45deg, #52eed9, #00ff95, #00ff95, #00ffaa);
}
.header .title{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
} 
.card{
  border: 1px solid #c0c0c0;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 21px -4px #c0c0c0;
}
.card .titleCard{
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;font-family: 'Roboto', sans-serif;
}
.card label{
  font-weight:200 ;
}
.card input{
  padding: 10px;
  width: 90%;
  margin: 20px auto;
  border:0.5px solid #c0c0c0;
  border-radius: 5px;
}
.card button{
  margin-top: 10px;
  padding: 10px;
  border:1px solid #00ff95;
  background-color:#00ff95;
  border-radius: 5px;
  color: white;
}
.card button:hover{
  background-color: #00dd00;
  border: 1px solid #00dd00;
  cursor: pointer;
  
}
.cardHasilKTP{
  
}
footer{
  height: 100px;
  background: linear-gradient(-45deg, #52eed9, #00ff95, #00ff95, #00ffaa);
  margin-top: 40px;
}
footer p{
  line-height: 100px;
  color: white;
  text-align: center;
}